@import '../../variables/screenSize';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
@media screen and (min-width:1024px){
    .header-scrolling-animation{
        transform: translateY(-150%);
        opacity: 0.3;
        transition: 1s;
        display: block;
        &.activated{
            transform: translateY(0%);
            opacity: 1;
        }
     
    }
}