.about-scrolling-animation{
    display: inline-block;
    transform: scaleX(0);
    transform-origin: left;

    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--blue);
        transform-origin: right;


    }
    &.activated{
        transition: 0.5s ease-in-out transform;
        transform: scaleX(1);
        &::before{
            transition: 0.5s ease-in-out 0.5s;
            transform: scaleX(0);
        }
    }
}

.underline-small-title{
    
    display: inline-block;
    
    z-index: 1;
    hr{
        margin: 2.5px 0 0 0;
        padding: 0;
        border:0;
        background: var(--blue);

        height: 3px;
        width: 67.5%;

    }
}