    @import '../../variables/screenSize';
.web-card{
    width: 340px;

    display: flex;
    flex-direction: column;

    padding: 40px;
    position: relative;
    h1{
        margin-bottom: 35px;
    }
    p{
        margin-bottom: 40px;
        a{
            color: var(--light-blue);
            &:hover{
                border-bottom: 0.5px solid var(--light-blue);
            }
        }
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: var(--blue);
  
    }
    @for $i from 1 to 4 {
        &:nth-child(#{$i + 1})::after{
            opacity: #{($i - 1 ) * 0.15 + 0.3}
        }
    }
    .showcase-video{
        width:100%;
      
        object-fit: cover;
    }
    @media screen and (max-width:$screen1368) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        padding:40px calc(20px + 2vw);
        @media screen and (min-width:$ipad){
            .description{
                max-width:60% ;
           
                h1{
                    margin-bottom: 20px;
                }
                h2{
              
                
                }
                p{
                    margin: 0px;
                    font-size: 1.75em;
               
                }
            }
    
            .showcase-video{
                width:auto;
                max-width: 35%;
       
                align-self: center;
                
            }
        }



    }
    @media screen and (max-width:$ipad){
        flex-direction: column;
  
        width: 100%;
        p{
      
            font-size: 1.625em;
       
        }
        h2{
            line-height: 75px !important;
        
        }
        .showcase-video{
            width:auto;
            max-width: 350px;
   

            
        }

    }


}