@import '../../variables/screenSize';
.contact-information{
    width: 430px;

    padding: 50px 60px;
    .content{
        margin-top: 100px;
        section{
            margin-bottom: 30px;
            & > h6{
                font-size: 1.5em;
                &.heading{
                    margin-bottom: 10px;
                }
            }
            .follow-me-social-medias{
             
                    display: flex;
                    flex-wrap: wrap;
                & > *{
     
                    margin:0 15px 15px 0;
                }

            }
        }

    }
    @media screen and (max-width:$screen1024){
        width: 300px;
        padding: 50px 30px;
    }
    @media screen and (max-width:$ipad){
        width: 100%;
        padding:0  40px;
    }
 
}