@import './components/webCard.scss';
@import './components/introduction.scss';
@import '../variables/screenSize';

.portfolio{

    display: flex;
    justify-content: center;
    @media screen and (max-width:$screen1368){
        flex-direction: column;
        align-items: center;
        max-width: $screen1024;
        margin: 0 auto;
    }
}
